/* user component css */
.save-btn {
  cursor: pointer;
  margin: 10px 10px 10px 0px;
  padding: 8px 35px;
  border-radius: 4px;
  border: none;
  background: #3fb148;
  color: white;
  font-size: 14px;
}
.change-btn {
  cursor: pointer;
  margin: 10px 10px 10px 0px;
  padding: 8px 35px;
  border-radius: 4px;
  border: none;
  background: #3fb148;
  color: white;
  font-size: 14px;
}
.logout-btn {
  cursor: pointer;
  margin: 10px;
  padding: 8px 35px;
  border-radius: 4px;
  background: #d30707;
  color: white;
  font-size: 14px;
  border: none;
}
.back-btn {
  cursor: pointer;
  margin: 10px;
  padding: 8px 35px;
  border-radius: 4px;
  background: #e3e3e3;
  color: black;
  font-size: 14px;
  border: none;
}
.d-flex {
  display: flex;
}
.p-20 {
  padding: 20px;
}
.loggedin-text {
  margin: 10px;
  width: 150px;
}
.m-10 {
  margin: 10px;
}
.input-tag-user {
  box-sizing: border-box;
  height: 30px;
  border-radius: 6px;
  padding-left: 5px;
}
.mt-40 {
  margin-top: 40px;
}

/* Login component css */

.login-btn {
  cursor: pointer;
  display: block;
  margin: 20px 10px;
  padding: 8px 25px;
  border-radius: 8px;
  border: none;
  background: #6183ff;
  color: white;
  font-size: 14px;
}
.input-tag {
  margin: 10px;
  box-sizing: border-box;
  height: 30px;
  border-radius: 6px;
  padding-left: 5px;
}
/* task component css */
.add-task-btn {
  cursor: pointer;
  display: block;
  margin: 20px 10px;
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  background: #6183ff;
  color: white;
  font-size: 14px;
}
.cancel-btn {
  cursor: pointer;
  display: block;
  margin: 10px;
  padding: 8px 25px;
  border-radius: 8px;
  border: none;
  background: #d30707;
  color: white;
  font-size: 14px;
}
.submit-btn {
  cursor: pointer;
  display: block;
  margin: 10px;
  padding: 8px 25px;
  border-radius: 8px;
  border: none;
  background: #3fb148;
  color: white;
  font-size: 14px;
}
.delete-btn {
  cursor: pointer;
  display: block;
  margin: 10px;
  padding: 8px 20px;
  border-radius: 6px;
  background: #d55757;
  font-size: 14px;
  color: white;
  border: none;
}
.td-border-bottom {
  border-bottom: 3px solid #ababab;
}

/* Dropdown component css */
.selection-tag {
  margin: 20px;
  width: 200px;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

/* Navbar component css */
.navbar-outer-div {
  background: #d3d3d3;
  display: flex;
  align-items: center;
  padding-left: 20px !important;
  padding: 10px 0px;
  border-radius: 10px;
}
.w-10{
  width:10%
}